<!DOCTYPE html>
<html>
  <head>
    <title>S1 T2</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h1>Table options for insert</h1>
          </div>
          <div class="panel-body">
            <!-- <br>
            <form action="." name="1">
                <input type="submit" value="Insert new tuple in user" /> <br><br>
            </form>
            <form action="." id="2">
                <input type="submit" value="Insert new tuple in pilot" />
            </form> -->
            <a href="/insert_pilot.html">
              <button>HomePage</button>
          </a>
            <!-- <form method ="post" action="/">
              <button type="submit" name="submit_a" value="submit_a"> Submit_a </button>
              <button type="submit" name="submit_b" value="submit_b"> Submit_b </button>
            </form>  -->
            <!-- THIS IS GOOD -->
            <!-- <button onclick="window.location.href='/templates/insert_user.html'">Insert new tuple in user</button><br><br>
            <button>Insert new pilot in pilot</button> -->
            <!-- GOOD END -->
            <!-- <a href="{{ url_for('../templates/insert_user.html') }}">User insert</a> -->
            <!-- <button href="{{ url_for('insert_user.html') }}">Insert new tuple in user</button><br><br>
            <button>Insert new pilot in pilot</button> -->

            <!-- <form name="passdata" action="." method="post">
              <div class="form-group">
                <label for="firstName">User ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="firstName"
                />
              </div>
              <div class="form-group">
                <label for="lastName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="lastName"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                />
              </div>
              <input type="submit" class="btn btn-primary" />
            </form> -->
          </div>
        </div>
      </div>
    </div>  
</div>
  </body>
</html>